Repository AstarVienna/speXtra, pull requests merged in 2024-10, with the labels that each got.

#54 Update to astropy 6.0.1
  poetry.lock
  pyproject.toml
Labels: dependencies

#52 Allow dashes in filter names
  spextra/containers.py
  spextra/tests/test_spextra.py
Labels: bug, tests

#53 Run jobs nightly
  .github/workflows/tests.yml
Labels: github_actions

#56 Update CHANGELOG for version 0.41.2
  CHANGELOG.md
Labels: no release notes

#57 Fix waves check
  spextra/spextra.py
  spextra/tests/test_spextra.py
Labels: bug, tests
